<h1>Website#index</h1>
<p>Find me in app/views/website/index.html.erb</p>
<p><a href="http://website2012.herokuapp.com/about">About</a></p>
<p><a href="http://website2012.herokuapp.com/help">Help</a></p>